<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLovinSdkKey</key>
	<string>APP_LOVIN_SDK</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Constanb.TTF</string>
		<string>Oat_Milk.otf</string>
		<string>Chalkboard.ttc</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
